#LogsList {
    width: 900px;
    height: 700px;
    overflow: auto;
    text-align: left;
}

#LogsList .logs span.Error {
    color: red;
}

#LogsList .logs span.Warn {
    color: orange;
}

#LogsList .logs span.Info {
    /*color: #004;*/
}

#LogsList .logs span.Debug {
    color: #777;
}
#LogsList .logs span.Trace {
    color: #aaa;
}

#LogsList input.filter {
    width: 50%;
}

#LogsList select.level {
    width: 20%;
    margin: 0px 5px;
}